<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pure CSS Table Highlight (vertical & horizontal)</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div class="container">
	<table border=1>
			
		<tr>
			{% for key, value in result.items() %}
			
   		
			{% for keyOne, valueOne in value.items() %}
        	<th> {{ keyOne }} </th>
        	<td> {{ valueOne }} </td>
		</tr>
		   {% endfor %}
		{% endfor %}
	</table>
</div>
  
  
</body>
</html>
